@model TaskHub.Models.Proiect
@*
*@
@{
}

<h2>Formular Editare Proiect</h2>
@using (Html.BeginForm(actionName : "Edit", controllerName : "Proiecte"))
{

    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.NumeProiect, "Numele Proiectului")
        @Html.TextBoxFor(model => model.NumeProiect, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NumeProiect, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descriere, "Descrierea Proiectului")
        @Html.TextAreaFor(model => model.Descriere, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Descriere, "", new { @class = "text-danger" })
    </div>
    <br />
    <br />

    <button class="btn btn-success" type="submit">Modifica Proiectul</button>
}