@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    int idTask = ViewBag.IdTask;
}


<h2>Formular adaugare Membru task</h2>
@using (Html.BeginForm(actionName: "AddMember", controllerName: "Tasks", HttpMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <hr />

    @Html.Hidden("idTask", idTask);

    @Html.Label("email", "Alege membrul")
    @Html.DropDownList("email", ViewBag.AvailableUserOptions as IEnumerable<SelectListItem>)
    @Html.ValidationMessage("email", null, new { @class = "text-danger"})
    <br />

    <button class="btn btn-success" type="submit">Adauga Membru</button>
}