@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Lista Taskuri User</h2>
<br />
@if (ViewBag.Tasks != null) {
    @foreach (var task in ViewBag.Tasks)
    {
        <p>@task.Titlu</p>
        <br />
        <p>Descriere: @task.Descriere</p>
        <p>Status: @task.Status</p>
        <a href="/Tasks/EditStatus/@task.Id">Editare status</a>
        <br />
        <p>Data inceput: @task.DataStart</p>
        <p>Data final: @task.DataFinalizare</p>
        <br />
        <a href="/Tasks/Show/@task.Id">Afisare task </a>
        <br />
        <a href="/Tasks/Edit/@task.Id">Editare task</a>
        <hr />
    }
}
else
{
    <p>nu s-au gasit taskuri!</p>
}
