@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int ProiectId = ViewBag.Id;
}
<h2> Formular adaugare task</h2>
@using (Html.BeginForm(actionName: "New", controllerName: "Tasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <hr/>
    @Html.Hidden("ProiectId", ProiectId)
    @Html.Hidden("Status", "No status")
    @Html.Label("Titlu", "Titlul Taskului")
    <br />
    @Html.TextBox("Titlu", null, new { @class = "form-control"})
    @Html.ValidationMessage("Titlu", null, new {@class = "text-danger" })
    <br /><br />

    @Html.Label("Descriere", "Descrierea Taskului")
    <br />
    @Html.TextArea("Descriere", null, new { @class = "form-control" })
    @Html.ValidationMessage("Descriere", null, new { @class = "text-danger" })
    <br /><br />

   
    <br /><br />

    @Html.Label("DataStart", "Statusul Taskului")
    <br />
    @Html.TextBox("DataStart", null, new { @class = "form-control", type = "date" })
    @Html.ValidationMessage("DataStart", null, new { @class = "text-danger" })
    <br />

    @Html.Label("DataFinalizare", "Statusul Taskului")
    <br />
    @Html.TextBox("DataFinalizare", null, new { @class = "form-control", type = "date" })
    @Html.ValidationMessage("DataFinalizare", null, new { @class = "text-danger" })
    <br />
    <input class="form-control" type="file" name="TaskContent">
    <br />
    <br />

    <button class="btn btn-success" type="submit">Adauga Taskul</button>
}
