@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Afisare Task</h2>
<br />
<p>@ViewBag.Task.Titlu</p>
<br />
<p>Descriere: @ViewBag.Task.Descriere</p>
<p>Status: @ViewBag.Task.Status</p> <a href="/Tasks/EditStatus/@ViewBag.Task.Id">Schimba statusul</a>
<p>Data inceput: @ViewBag.Task.DataStart</p>
<p>Data final: @ViewBag.Task.DataFinalizare</p>
<a href="@ViewBag.Task.ContinutMedia" target="_blank">Afiseaza Continut Media</a>
<br />

<a href="@Url.Action("Edit", "Tasks", new { idProiect = ViewBag.Id })">Editare task</a>
<br />
<form method="post" action="/Tasks/Delete/@ViewBag.Task.Id">
    <button type="submit">Stergere Task</button>
</form>
<hr />
<h2>Membrii:</h2>
<ul>
    @if (ViewBag.Membrii != null)
        @foreach (var membru in ViewBag.Membrii)
        {
            <li style="list-style: none">@membru</li>
            <form method="post" action="/Tasks/DeleteMember/@membru/@ViewBag.Task.Id">
                <button type="submit">Sterge membru</button>
            </form>
        }
    else {
        <p>nu s-au gasit membrii!</p>
    }
</ul>
<h3>Adauga membrii la task</h3>
<a href="/Tasks/AddMember/@ViewBag.Task.Id">Adauga membru la task</a>